---
layout: layouts/example.njk
title: Card vertical example multiple 3 (example)
---

{%- from "src/dxw/components/card/macro.njk" import dxwCard -%}

{% set card1Html %}
  <h3 class="govuk-heading-s">Card 1</h3>
  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
{% endset %}

{% set card2Html %}
  <h3 class="govuk-heading-s">Card 2</h3>
  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Adipiscing diam donec adipiscing tristique risus nec. Sapien nec sagittis aliquam malesuada bibendum arcu. Integer feugiat scelerisque varius morbi enim nunc. Libero justo laoreet sit amet cursus sit amet dictum.</p>
{% endset %}

{% set card3Html %}
  <h3 class="govuk-heading-s">Card 3</h3>
  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
{% endset %}

<div class="dxw-grid">
{{ dxwCard({
  media: 'https://www.dxw.com/wp-content/uploads/fallback-3-600x400.png',
  html: card1Html
}) }}
{{ dxwCard({
  html: card2Html
}) }}
{{ dxwCard({
  html: card3Html
}) }}
</div>