.dxw-grid {
  @supports (display: grid) {
    display: grid;
    grid-gap: govuk-spacing(4);
    > * {
      margin-bottom: 0;
    }
    @include govuk-media-query($from: desktop) {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
  }
}
