.dxw-hero {
  background-color: #36393c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
}

.dxw-hero__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3.5rem 0;
}
